/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.index--container {
  display: flex;
}

/*******************/
/* COMIENZO HEADER */
/*******************/

.index--main {
  width: 70%;
  height: 100vh;
}

.index--main_middle {
  position: relative;
}

.index--main_middle__image {
  height: 60%;
  background: url(../img/groot/groot-background.jpg) no-repeat center;
  background-color: rgb(255 255 255 / 0.3);
  filter: blur(0.4rem);
  -webkit-filter: blur(0.4rem);
}

.index--main_middle__title {
  width: 100%;
  font-size: 10rem;
  text-align: center;
  color: #F5EFFF;
  font-family: 'Dancing Script', cursive;
  position: absolute;
  top: 33%;
}

.index--main_nav1 {
  display: flex;
  justify-content: space-between;
  height: 28%;
}

.index--main_nav2 {
  display: flex;
  justify-content: space-between;
  height: 12%;
}

.index--main_nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 0.1rem solid #F5EFFF;
}

.index--main_nav__item1, .index--main_nav__item4 {
  background-color: #A594F9;
}

.index--main_nav__item2, .index--main_nav__item3 {
  background-color: #7371FC;
}

.index--main_nav__item___text {
  font-size: 2.3rem;
  color: #3A3335;
  padding-inline: 0.5rem;
  font-family: 'Playfair Display', serif;
}

.index--main_nav__item___text-alt {
  color: #F5EFFF;
}

/******************/
/* COMIENZO ASIDE */
/******************/

.index--aside {
  width: 30%;
  border: 0.1rem solid #F5EFFF;
  position: relative;
}

.index--aside_image {
  background: url(../img/marvel-thanos.jpg) no-repeat center;
  filter: blur(0.1rem);
  height: 100%;
}

/***********/
/* COLORES */
/***********/
/*
  marrón: #3A3335
  lila claro: #F5EFFF
  lila: #CDC1FF
  violeta claro: #A594F9
  violeta: #7371FC
*/