.footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.footer__link {
  color: $neutral-black;
  font-family: $logo-font;
  font-size: 2.5rem;
  transition: all 0.2s;

  &:hover {
    color: $purple;
  }

  @include breakpoint-l {
    font-size: 3.5rem;
  }
}

.footer__socials {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;

  @include breakpoint-l {
    margin-bottom: 1.125rem;
  }
}

.footer__socials__icon {
  padding: 0.5rem;
  font-size: 1.75rem;

  &:hover svg {
    transition: all 0.2s;
    fill: $purple;
  }
}

.footer__copy {
  font-size: 0.8125rem; /* 13px */
}
