/////////////////////
// GENERIC SECTION //
/////////////////////

@media (min-width: 1200px) {
  .grl-sections {
    display: flex;
    flex-wrap: wrap;
  }
}

.grl-section {
  height: 250px;
  overflow: hidden;
  padding: 2rem 1rem;

  @media (min-width: 400px) {
    height: 300px;
    padding: 2rem;
  }

  @media (min-width: 1200px) {
    width: 50%;
    height: 400px;
  }
}

// @media (min-width: 400px) {
//   .grl-section {
//     height: 300px;
//     padding: 2rem;
//   }
// }

// @media (min-width: 1200px) {
//   .grl-section {
//     width: 50%;
//     height: 400px;
//   }
// }

.grl-section__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media (min-width: 768px) {
    max-width: 600px;
    margin: auto;
  }
}

// @media (min-width: 768px) {
//   .grl-section__container {
//     width: 600px;
//     margin: auto;
//   }
// }

.grl-section__content {
  width: 60%;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media (min-width: 400px) {
    height: 250px;
  }
}

// @media (min-width: 400px) {
//   .grl-section__content {
//     max-width: 250px;
//   }
// }

.grl-section__image {
  height: 225px;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  position: absolute;

  @media (min-width: 400px) {
    height: 275px;
  }

  @media (min-width: 600px) {
    left: 75%;
  }

  @media (min-width: 768px) {
    left: 85%;
  }

  @media (min-width: 1200px) {
    left: 75%;
    height: 350px;
  }
}

// @media (min-width: 400px) {
//   .grl-section__image {
//     height: 275px;
//   }
// }

// @media (min-width: 600px) {
//   .grl-section__image {
//     left: 75%;
//   }
// }

// @media (min-width: 768px) {
//   .grl-section__image {
//     left: 85%;
//   }
// }

// @media (min-width: 1200px) {
//   .grl-section__image {
//     left: 75%;
//     height: 350px;
//   }
// }

//////////////////
// GENERIC CARD //
//////////////////

.grl__card {
  height: 350px;
  border-radius: 0.75rem;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  @media (min-width: 350px) {
    height: 375px;
  }

  @media (min-width: 600px) {
    height: 425px;
  }

  @media (min-width: 768px) {
    height: 550px;
  }
}

// @media (min-width: 350px) {
//   .grl__card {
//     height: 375px;
//   }
// }

// @media (min-width: 600px) {
//   .grl__card {
//     height: 425px;
//   }
// }

// @media (min-width: 768px) {
//   .grl__card {
//     height: 550px;
//   }
// }

.grl__card__image {
  height: 115px;
  margin-inline: 0.5rem;
  border-radius: 10rem;
  background-color: $blue;

  @media (min-width: 350px) {
    height: 140px;
  }

  @media (min-width: 600px) {
    height: 175px;
  }

  @media (min-width: 768px) {
    height: 225px;
    margin-inline: 2rem;
  }
}

// @media (min-width: 350px) {
//   .grl__card__image {
//     height: 140px;
//   }
// }

// @media (min-width: 600px) {
//   .grl__card__image {
//     height: 175px;
//   }
// }

// @media (min-width: 768px) {
//   .grl__card__image {
//     height: 225px;
//     margin-inline: 2rem;
//   }
// }

.grl__card__icon {
  padding: 0.25rem 0.75rem;
  background-color: $light-purple;
  border-radius: 100rem;
  font-size: 2rem;

  @media (min-width: 600px) {
    padding: 0.25rem 1rem;
    font-size: 3rem;
  }
}

// @media (min-width: 600px) {
//   .grl__card__icon {
//     padding: 0.25rem 1rem;
//     font-size: 3rem;
//   }
// }

.grl__card__heading {
  font-size: 1rem;
  padding-inline: 0.5rem;
  margin-inline: auto;
  margin-bottom: 1rem;
  max-width: 250px;

  @media (min-width: 350px) {
    font-size: 1.125rem;
  }

  @media (min-width: 400px) {
    font-size: 1.25rem;
    padding-inline: 1rem;
  }
}

// @media (min-width: 350px) {
//   .grl__card__heading {
//     font-size: 1.125rem;
//   }
// }

// @media (min-width: 400px) {
//   .grl__card__heading {
//     font-size: 1.25rem;
//     padding-inline: 1rem;
//   }
// }

.grl__card__name {
  height: 50px;
  margin-bottom: 2rem;

  @media (min-width: 350px) {
    height: 60px;
    margin-bottom: 1rem;
  }
}

// @media (min-width: 350px) {
//   .grl__card__name {
//     height: 60px;
//     margin-bottom: 1rem;
//   }
// }

.grl__card__text {
  font-size: 0.8125rem; /* 13px */
  padding-inline: 1rem;
  max-width: 500px;

  @media (min-width: 400px) {
    font-size: 1rem;
  }
}

// @media (min-width: 400px) {
//   .grl__card__text {
//     font-size: 1rem;
//   }
// }

//////////////////////////////
// GENERIC PRODUCTS SECTION //
//////////////////////////////

.grl-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}

.grl-products__title {
  color: $purple-2;
  margin-bottom: 0.5rem;
}

.grl-products__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 0.5rem;
  padding-block: 2rem;

  @media (min-width: 600px) {
    gap: 2rem 1.5rem;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

// @media (min-width: 600px) {
//   .grl-products__cards {
//     gap: 1.5rem;
//   }
// }

// @media (min-width: 1200px) {
//   .grl-products__cards {
//     grid-template-columns: repeat(4, 1fr);
//   }
// }

.grl-products__button {
  background-color: $purple-2;
  color: $neutral-white;

  &:hover {
    background-color: $neutral-white;
    color: $purple-2;
    border: 2px solid $purple-2;
  }
}

// .grl-products__button:hover {
//   background-color: $neutral-white;
//   color: $purple-2;
//   border: 2px solid $purple-2;
// }