.hero {
  position: relative;
}

.hero__bg-image {
  height: 275px;
  background-image: url("../img/groot/groot-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);

  @media (min-width: 400px) {
    height: 325px;
  }

  @media (min-width: 600px) {
    height: 400px;
  }

  @media (min-width: 768px) {
    height: 500px;
  }

  @media (min-width: 1200px) {
    height: 600px;
  }
}

// @media (min-width: 400px) {
//   .hero__bg-image {
//     height: 325px;
//   }
// }

// @media (min-width: 600px) {
//   .hero__bg-image {
//     height: 400px;
//   }
// }

// @media (min-width: 768px) {
//   .hero__bg-image {
//     height: 500px;
//   }
// }

// @media (min-width: 1200px) {
//   .hero__bg-image {
//     height: 600px;
//   }
// }

.hero__logo {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-inline: 1rem;
  font-family: $logo-font;
  font-size: 3.5rem;
  font-weight: 600;
  color: $neutral-white;
  text-align: center;

  @media (min-width: 350px) {
    font-size: 3.9rem;
  }

  @media (min-width: 400px) {
    font-size: 4.2rem;
  }

  @media (min-width: 600px) {
    font-size: 6rem;
  }

  @media (min-width: 768px) {
    font-size: 8rem;
  }

  @media (min-width: 1200px) {
    font-size: 10rem;
  }
}

// @media (min-width: 350px) {
//   .hero__logo {
//     font-size: 3.9rem;
//   }
// }

// @media (min-width: 400px) {
//   .hero__logo {
//     font-size: 4.2rem;
//   }
// }

// @media (min-width: 600px) {
//   .hero__logo {
//     font-size: 6rem;
//   }
// }

// @media (min-width: 768px) {
//   .hero__logo {
//     font-size: 8rem;
//   }
// }

// @media (min-width: 1200px) {
//   .hero__logo {
//     font-size: 10rem;
//   }
// }

.hero__content {
  width: 100%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero__content__text {
  margin-bottom: 1rem;
  color: $neutral-white;

  @media (min-width: 768px) {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }
}

// @media (min-width: 768px) {
//   .hero__content__text {
//     margin-bottom: 1.5rem;
//     font-size: 1.5rem;
//   }
// }

.hero__content__button {
  background-color: $light-purple;
  color: $neutral-white;

  &:hover {
    background-color: $neutral-white;
    color: $light-purple;
    border: 2px solid $light-purple;
  }
}

// .hero__content__button:hover {
//   background-color: $neutral-white;
//   color: $light-purple;
//   border: 2px solid $light-purple;
// }