.hero {
  position: relative;
}

.hero__bg-image {
  height: 275px;
  background-image: url("../img/groot-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);

  @include breakpoint-s {
    height: 325px;
  }

  @include breakpoint-m {
    height: 400px;
  }

  @include breakpoint-l {
    height: 500px;
  }

  @include breakpoint-xl {
    height: 600px;
  }
}

.hero__logo {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-inline: 1rem;
  font-family: $logo-font;
  font-size: 3.5rem;
  font-weight: 600;
  color: $neutral-white;
  text-align: center;

  @include breakpoint-xs {
    font-size: 3.9rem;
  }

  @include breakpoint-s {
    font-size: 4.2rem;
  }

  @include breakpoint-m {
    font-size: 6rem;
  }

  @include breakpoint-l {
    font-size: 8rem;
  }

  @include breakpoint-xl {
    font-size: 10rem;
  }
}

.hero__content {
  width: 100%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero__content__text {
  margin-bottom: 1rem;
  color: $neutral-white;

  @include breakpoint-l {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }
}

.hero__content__button {
  background-color: $light-purple;
  color: $neutral-white;

  &:hover {
    background-color: $neutral-white;
    color: $light-purple;
    border: 2px solid $light-purple;
  }
}
