////////////////
// OP SECTION //
////////////////

.op-section {
  padding: 2rem 2rem 1rem 2rem;

  @include breakpoint-xl {
    padding: 2rem;
  }
}

.op-section__carousel-container {
  max-width: 450px;
  margin: auto;

  @include breakpoint-xl {
    max-width: 550px;
  }
}

.op-section__carousel__display {
  background-color: $neutral-white;
  border-radius: 100rem;
}

.op-section__carousel__prev-icon {
  background-image: $prev-icon;
}

.op-section__carousel__next-icon {
  background-image: $next-icon;
}

.op-section__content {
  padding: 1rem;
  text-align: center;
  margin: auto;

  @include breakpoint-xl {
    width: 50%;
  }
}

.op-section__title {
  color: $light-purple-2;
  margin-bottom: 0.5rem;
}