//////////////////////
// FUNKO FAVOURITES //
//////////////////////

.best-sellers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}

.best-sellers__title {
  color: $purple-2;
  margin-bottom: 0.5rem;
}

.best-sellers__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  padding-block: 2rem;

  @media (min-width: 600px) {
    gap: 1.5rem;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

// @media (min-width: 600px) {
//   .best-sellers__cards {
//     gap: 1.5rem;
//   }
// }

// @media (min-width: 1200px) {
//   .best-sellers__cards {
//     grid-template-columns: repeat(4, 1fr);
//   }
// }

.best-sellers__button {
  background-color: $purple-2;
  color: $neutral-white;

  &:hover {
    background-color: $neutral-white;
    color: $purple-2;
    border: 2px solid $purple-2;
  }
}

// .best-sellers__button:hover {
//   background-color: $neutral-white;
//   color: $purple-2;
//   border: 2px solid $purple-2;
// }

////////////////
// OP SECTION //
////////////////

.op-section {
  padding: 2rem 2rem 1rem 2rem;

  @media (min-width: 1200px) {
    padding: 2rem;
  }
}

// @media (min-width: 1200px) {
//   .op-section {
//     padding: 2rem;
//   }
// }

.op-section__carousel-container {
  max-width: 450px;
  margin: auto;

  @media (min-width: 1200px) {
    max-width: 550px;
  }
}

// @media (min-width: 1200px) {
//   .op-section__carousel-container {
//     max-width: 550px;
//   }
// }

.op-section__carousel__display {
  background-color: $neutral-white;
  border-radius: 100rem;
}

.op-section__carousel__prev-icon {
  background-image: $prev-icon;
}

.op-section__carousel__next-icon {
  background-image: $next-icon;
}

.op-section__content {
  padding: 1rem;
  text-align: center;
  margin: auto;

  @media (min-width: 1200px) {
    width: 50%;
  }
}

// @media (min-width: 1200px) {
//   .op-section__content {
//     width: 50%;
//   }
// }

.op-section__title {
  color: $light-purple-2;
  margin-bottom: 0.5rem;
}