.navigation {
  background-color: $neutral-black;

  @include breakpoint-l {
    padding-inline: 2rem 1rem;
  }
}

.navigation__button {
  border: none;
  color: $neutral-white;
  margin-left: 0.5rem;
}

.navigation__button--icon {
  background-image: $toggler-icon;
}

.navigation__logo {
  font-family: $logo-font;
  font-size: 2.5rem;
  color: $neutral-white;
  margin-right: 1.5rem;
  transition: all 0.2s;

  &:hover {
    color: $light-purple-2;
  }

  @include breakpoint-l {
    margin-right: 0;
  }
}

.navigation__menu {
  border-top: 3px solid $neutral-white;

  @include breakpoint-l {
    border-top: none;
    height: 100%;
  }
}

.menu__items {
  @include breakpoint-l {
    width: 100%;
    gap: 1rem;
    justify-content: end;
  }
}

.menu__item {
  border-top: 1px solid $neutral-transparent-white;
  padding: 0.75rem 1rem;
  -webkit-animation: top-entry 0.5s $ease-out-quad both;
  animation: top-entry 0.5s $ease-out-quad both;

  @include breakpoint-l {
    padding: 0;
    border-top: none;
  }

  &:nth-child(1) {
    border-top: none;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;

    @include breakpoint-l {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }
  }

  &:nth-child(2) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;

    @include breakpoint-l {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }
  }

  &:nth-child(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;

    @include breakpoint-l {
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s;
    }
  }

  &:nth-child(4) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;

    @include breakpoint-l {
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s;
    }
  }

  &:nth-child(5) {
    @include breakpoint-l {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
    }
  }
}

.menu__item__link {
  color: $neutral-white;
  font-family: $link-font;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s;
  padding: 0;

  &:hover {
    color: $light-purple-2;
  }

  @include breakpoint-l {
    font-size: 1rem;
    padding: 1.3rem;
  }
}

.menu__item__link--active {
  color: $light-purple-2;
}
