/////////////////////
// BOOTSTRAP RESET //
/////////////////////

body, figure, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, pre, fieldset, blockquote, th, td {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-size: 100%;
  line-height: 1.15;
  font-family: inherit;
}

button, select {
  text-transform: none;
}

////////////////////////////
// RESET PARA FORMULARIOS //
////////////////////////////

/* Remove default margin and padding */
form,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Set fonts to a generic family */
input,
textarea,
select,
button {
  font-family: inherit;
}

/* Reset the default styles for form controls */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* Remove inner spacing in Chrome and Safari on macOS */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-clear-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
input[type="search"]::-webkit-search-inner-box {
  margin: 0; /* Provides padding at the top and bottom of the inner search box */
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: none;
  appearance: none;
}

/* Additional styles for cross-browser consistency */
button,
input {
  overflow: visible; /* Remove the default styles in Internet Explorer */
}

/* Normalize the line-height */
button,
select {
  text-transform: none;
}

/* Remove the default button styling in Firefox */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}


//////////////
// MI RESET //
//////////////

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

//////////////////////////
// SELECTORES GENÉRICOS //
//////////////////////////

body {
  font-family: $main-font;
  background-color: $neutral-white;
  color: $neutral-black;
  font-size: 0.8125rem; /* 13px */
}

@media (min-width: 350px) {
  body {
    font-size: 1rem;
  }
}

@media (min-width: 400px) {
  body {
    font-size: 1.125rem;
  }
}

h2, h3 {
  font-family: $heading-font;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
}

h2 {
  font-size: 1.5rem; /* 24px */
}

@media (min-width: 400px) {
  h2 {
    font-size: 2rem; /* 28px */
  }
}