///////////
// INTRO //
///////////

.sn-intro {
  padding: 2rem 1rem;
  margin-bottom: 5rem;

  @include breakpoint-l {
    padding: 8.5rem;
  }
}

.sn-intro__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 1075px;
  margin: auto;

  @include breakpoint-l {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint-xl {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1400px;
  }
}

////////////////
// ANIMATIONS //
////////////////

.sn-entry-1 {
  -webkit-animation: standard-entry-absolute 0.5s $ease-out-back 1.7s both;
  animation: standard-entry-absolute 0.5s $ease-out-back 1.7s both;

  @include breakpoint-l {
    -webkit-animation: standard-entry-absolute 0.5s $ease-out-back 2.2s both;
    animation: standard-entry-absolute 0.5s $ease-out-back 2.2s both;
  }
}

.sn-entry-2 {
  -webkit-animation: bottom-entry 0.5s $ease-out-quad 1.3s both;
  animation: bottom-entry 0.5s $ease-out-quad 1.3s both;

  @include breakpoint-l {
    -webkit-animation: bottom-entry 0.5s $ease-out-quad 1.8s both;
    animation: bottom-entry 0.5s $ease-out-quad 1.8s both;
  }
}