// COLORS
$neutral-black: #3a3335;
$neutral-white: #f5efff;
$neutral-transparent-white: rgba(245, 239, 255, 0.2);
$light-purple: #a594f9;
$light-purple-2: #cdc1ff;
$purple: #724cf9;
$purple-2: #564592;
$blue: #7371fc;

// FONTS
$logo-font: "Dancing Script";
$main-font: "Playfair Display", serif;
$heading-font: "Kanit", sans-serif;

// ICONS
$toggler-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%28245, 239, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$prev-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%233a3335'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
$next-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%233a3335'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

// FUNCIONES PARA TRANSICIONES
$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
